@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

html {

    --bright-blue: rgb(58, 123, 253);
    --check-bg: linear-gradient rgb(87, 221, 255) to hsl(280, 87%, 65%);

    /* Light Theme */

    --bg: #f3f3f3;
    --text-color: #4d5066;
    --dark-blue: #484b6a;
    --color-headings: #0077ff;
    --light-blue: #d2d3db;
    --tste: #f1f1f1;

}

body {
    display: block;
    height: auto;
    max-width: 1440px;
    background-color: var(--bg);
}

#header_top {
    display: block;
    width: 100%;
}

#picture img {
    width: 100%;
    position: absolute;
}

#header {
    width: 90%;
    margin: 0 auto;
}

#title {
    padding-top: 2rem;
    letter-spacing: 10px;
    font-size: 1.7rem;
    font-weight: 700;
}

#mode {
    padding-top: 1.4rem;
    cursor: pointer;
}

#title_mode {
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    justify-content: space-between;
}

#lista_tarefas {
    width: 100%;
    background-color: var(--bg);
}



#input_area {
    display: flex;
    margin: 0 auto;
    margin-top: 2.3rem;
    align-items: center;
    justify-items: center;
}

.toggle {
    margin-top: 2rem;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background-color: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after{
    width: 45px;
}

#tasks {
    width: 90%;
    position: absolute;
    padding: 0.9rem;
    padding-left: 2rem;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    color: var(--text-color);
    background-color: var(--bg);
    font-size: 0.85rem;
    box-shadow: 8px 8px 15px -3px var(--very-dark-blue);
}

button {
    border: none;
    background: none;
}

button .check {
    position: relative;
    margin-left: 0.7rem;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.check:hover {
    color: var(--bright-blue);
    transition: all 0.3s ease;
}

@media all and (min-width: 1000px) {
    #title {
        font-size: 2.1rem;
    }

    #mode {
        width: 2rem;
    }

}

@media all and (min-width: 700px) {
    #header {
        width: 50%;
        margin: 0 auto;
    }

    #tasks {
        width: 50%;
    }

}

@media all and (min-width: 550px){
    #input_area {
        margin-top: 40px;
    }

    #tasks {
        padding: 0.9rem;
        padding-left: 2.5rem;
    }

    .check {
        font-size: 1.1rem;
    }
}

#container {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 1.5rem;
}

#ul {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 90%;
    background-color: var(--bg);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 8px 8px 15px -3px var(--light-blue);
    list-style-type: none;
    
}

#conc {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 90%;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 8px 8px 15px -3px var(--light-blue);
    list-style-type: none;
}

#conc p {
    text-decoration: line-through;
}

#conc .done{
    width: 1.15rem;
    height: 1.15rem;
    color: gray;
    background-color: #0093E9;
    background-color: #57ddff;
    background-image: linear-gradient(225deg, #57ddff 0%, #bf58f3 79%);
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

#ul .done {
    width: 1.15rem;
    height: 1.15rem;
    cursor: pointer;
    border: 2px solid rgba(161, 161, 161, 0.603);
    border-radius: 100%;
}

#ul .done:hover {
    width: 1.15rem;
    height: 1.15rem;
    color: gray;
    background-color: #0093E9;
    background-color: #57ddff;
    background-image: linear-gradient(225deg, #57ddff 0%, #bf58f3 79%);
    cursor: pointer;
    border-radius: 100%;
    border: none;
}

.done i {
    opacity: 0;
    font-size: 0.55rem;
    color: white;
}

.done i:hover{
    opacity: 1;
}

.li_tarefas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bg);
    padding: 1rem;
    color: var(--text-color);
    font-size: 0.9rem;
}

.li_tarefas_concluidas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    border-bottom: 1px solid var(--bg);
    padding: 1rem;
    color: var(--text-color);
    font-size: 0.9rem;
}

.lista {
    display: flex;
    align-items: center;
}

.texto {
    padding-left: 1rem;
}

.empty {
    color: var(--text-color);
    text-align: center;
    padding-right: 0.3rem;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

#lista {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 8px 8px 15px -3px var(--light-blue);
}

@media all and (min-width: 700px) {
    #ul {
        width: 50%;
        margin: 0 auto;
    }

    #conc {
        width: 50%;
        margin: 0 auto;
    }

    #lista {
        width: 50%;
        margin: 0 auto;
    }
}

@keyframes clear_item {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg);
    }
}

.empty:hover {
    animation: clear_item 0.2s linear ;
    transition: all 1s ease;
    color: red;
}

.btn_lista {
    border: none;
    background: none;
    cursor: pointer;
}



#footer_lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg);
    color: var(--text-color);
}

#footer_p {
    font-size: 0.8rem;
}

#clear_list {
    display: flex;
}

.clear {
    border: none;
    background: none;
    color: var(--text-color);
    font-size: 0.8rem;
    transition: all 0.3s ease;
    margin-left: 1.5rem;
}

.clear:hover {
    cursor: pointer;
    color: var(--bright-blue);
    transition: all 0.3s ease;
}

#ft_itens {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 0.3rem;
    box-shadow: 8px 8px 15px -3px var(--light-blue);
}

#ft_itens input {
    border: none;
    background: none;
    color: var(--text-color);
    padding: 0.4rem;
    margin: 0.4rem;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#ft_itens input:hover {
    transition: all 0.3s ease;
    color: var(--bright-blue);
}

@media all and (min-width: 700px) {
    #ft_itens {
        width: 50%;
    }
}